@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul, ol {
  display: flex;
  list-style-type: none;
  gap: 15px;
  margin: 15px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: rgb(84, 84, 84);
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header,
.footer,
.left-links,
.right-links,
.content {
  display: flex;
}

.content {
  flex-direction: column;
  align-items: center;
  gap: 10px;  
}

.header.footer {
  justify-content: flex-start;
  margin: 0px 10px;
}

.footer {
  background-color: #eeeeee;
}

.left-links {
  margin-right: auto;
}