.one,
.two {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.one {
    color: #ffffff;
    background-color: #000000;
}

.two {
    background-color: lab(97.14% -21.56 94.48);
}